/* 重置 markdown 表格样式 start */
.el-table__header,
.el-table__body {
  margin: 0;
}

.el-table {
  table {
    display: table;

    tr {
      background-color: #fff;
    }
  }

  th,
  td {
    border: none;
  }
}

/* 重置 markdown 表格样式 end */

/* 重置 markdown 日期表格样式 start */
.el-picker-panel {
  table {
    margin: 0;
    display: table;
    border-spacing: 0;

    tr {
      border: 0;
      background-color: #fff;
    }

    th,
    td {
      border: 0;
    }
  }

  .el-date-table th {
    border-bottom: solid 1px #ebeef5;
  }
}
/* 重置 markdown 日期表格样式 end */
